<!DOCTYPE html>
<html lang="en">
	<head>
	<title>clarefy</title>

	
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link href="/static/newindex.css" rel="stylesheet">
	</head>

	<body>

	<div class="container">
		<div class="header">

		<h3 class="text-muted">WOOOOOOAH DOCUMENT INFO!</h3>
		</div>

		<div class="jumbotron">
		<div align="center">
		<img src="/static/images/clarefy_logo.png" align="middle">
		</div>
		<h1>YEHHHHHHHHHHHHHHHHH BOIIIIII</h1>
		</div>
		<a href="https://azure.microsoft.com/en-gb/services/cognitive-services/">
			<img src="/static/images/mscs.png" style="width:278px;height:83px;">
		<a href="https://scholar.google.co.uk/">
			<img src="/static/images/google_scholar.png" style="width:217px;height:83px;">
		<a href="http://oxfordhack.com">
			<img src="/static/images/oxhack.png" style="width:304px;height:83px;">
		</a>

		<footer class="footer">
		<p></p>
		<p>&copy; clarefy 2017</p>
		</footer>

	</div>
	</body>
</html>
