<!DOCTYPE html>
<html lang="en">
	<head>
	<title>clarefy</title>

	
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link href="/static/newindex.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    <script src="/static/js/signUp.js"></script>
	</head>

	<body>

	<div class="container">
		<div class="header">

		<h3 class="text-muted">clarefy</h3>
		</div>

		<div class="jumbotron">
		<div align="center">
		<img src="/static/images/clarefy_logo.png" align="middle">
		</div>
		<h1></h1>
		
		<form class="form-signin">
		<label for="inputName" class="sr-only">Name</label>
		<input type="name" name="inputName" id="inputName" class="form-control" placeholder="Enter a document identifier (e.g. arXiv link, DOI...)" required autofocus>
		
		<a href="signUp"
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">clarefy</button>
        </a>
		<!---
		<form class="form-signin">
		<label for="inputDocumentInfo" class="sr-only">Name</label>
		<input type="documentInfo" name="inputDocumentInfo" id="inputDocumentInfo" class="form-control" placeholder="OLDER VERSION Enter a document identifier (e.g. arXiv link, DOI...)" required autofocus>
		<a class="btn btn-lg btn-primary btn-block" href="submitDocument" role="button">clarefy</a>
		-->

		</div>


		<p>Powered by:</p>
		<p></p>
		<a href="https://azure.microsoft.com/en-gb/services/cognitive-services/">
			<img src="/static/images/mscs.png" style="width:278px;height:83px;">
		<a href="https://scholar.google.co.uk/">
			<img src="/static/images/google_scholar.png" style="width:217px;height:83px;">
		<a href="https://aws.amazon.com">
			<img src="/static/images/aws_logo.png" style="width:189px;height:83px;"> 
		<a href="http://flask.pocoo.org/">
			<img src="/static/images/flask.png" style="width:212px;height:83px;"> 
		</a>

		<footer class="footer">
		<p></p>
		<p>&copy; clarefy 2017</p>
		</footer>

	</div>
	</body>
</html>
